@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Privacy Policy for dotNetDigest</p>

    <p>Effective Date: 1/22/2024</p>

    <b>1. Introduction</b>

    <p>Welcome to dotNetDigest. This privacy policy explains how we collect, use, and protect your personal information when you use our website.</p>

    <b>2. Information Collection</b>

    <p>dotNetDigest collects a minimal amount of personal information from our users, specifically email addresses. This information is collected solely for the purpose of account authentication.</p>

    <b>3. Use of Information</b>

    <p>The collected email addresses are used exclusively for account authentication purposes. We do not use these email addresses for marketing, advertising, or any other purposes.</p>

    <b>4. Information Sharing</b>

    <p>dotNetDigest does not share your personal information with any third parties.</p>

    <b>5. Data Protection and Storage</b>

    <p>The personal information we collect is stored on a secure server. We are committed to ensuring the security and protection of the information we collect.</p>

    <b>6. Cookies and Tracking Technologies</b>

    <p>dotNetDigest may use cookies to maintain user sessions on our blog. However, we do not use cookies or any other tracking technologies for the purpose of tracking our users.</p>

    <b>7. User Rights</b>

    <p>Users who wish to delete their accounts can request this by sending an email to delete@dotnetdigest.com.</p>

    <b>8. Contact Us</b>

    <p>If you have any questions or concerns about our privacy policy, or about your personal information, please contact us at support@dotnetdigest.com.</p>


</div>
